<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="bootstrap/app.php"
         colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="API_TOKEN" value="CD5E2361F29A6815BAEE4A73EA51B"/>
        <env name="CER_PATH" value="./tests/_files/EKU9003173C9.cer"/>
        <env name="KEY_PATH" value="./tests/_files/EKU9003173C9.key"/>
        <env name="PASSWORD_FIEL" value="12345678a"/>
    </php>
</phpunit>
